# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Default settings for all files
[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = crlf

# AutoHotkey files
[*.ahk]
indent_style = space
indent_size = 4
end_of_line = crlf

# PowerShell files
[*.ps1]
indent_style = space
indent_size = 4
end_of_line = crlf

# CMD/Batch files
[*.{cmd,bat}]
indent_style = space
indent_size = 4
end_of_line = crlf

# Markdown files
[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2
