name: Build Binary and release

on: # Only run when a release is created
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  BuildAndRelease:
    name: Build and Release
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Ahk2Exe
        id: ahk2exe
        uses: Banaanae/Action-Ahk2Exe@main
        with:
          in: AHK/MC_Afk_mob.ahk
          
      - name: Release # Upload binary to most recent release
        uses: softprops/action-gh-release@v2
        with:
          files: MyScript.exe
